# Annoying forge :(
public net.minecraft.core.particles.SimpleParticleType <init>(Z)V
public net.minecraft.world.entity.ai.sensing.SensorType <init>(Ljava/util/function/Supplier;)V
public net.minecraft.world.entity.schedule.Activity <init>(Ljava/lang/String;)V
public net.minecraft.world.entity.npc.Villager m_35518_()V
public net.minecraft.world.entity.npc.Villager m_35536_(Lnet/minecraft/world/entity/player/Player;)V
public-f net.minecraft.world.entity.ai.behavior.CrossbowAttack m_22786_(Lnet/minecraft/world/entity/Mob;Lnet/minecraft/world/entity/LivingEntity;)V
public net.minecraft.world.entity.ai.behavior.CrossbowAttack f_22772_
public net.minecraft.world.entity.ai.behavior.CrossbowAttack$CrossbowState
public net.minecraft.world.entity.Entity m_20099_()Lnet/minecraft/core/BlockPos;
public net.minecraft.world.entity.item.ItemEntity m_20099_()Lnet/minecraft/core/BlockPos;
public net.minecraft.world.entity.ExperienceOrb m_20099_()Lnet/minecraft/core/BlockPos;
public net.minecraft.advancements.CriteriaTriggers m_10595_(Lnet/minecraft/advancements/CriterionTrigger;)Lnet/minecraft/advancements/CriterionTrigger;
public net.minecraft.world.level.block.entity.BlockEntityType$BlockEntitySupplier
